#colorUno{

    background-color: #f82c34;
}
#colorDos{

    background-color: #bc1a27;
}
#colorTres{

    background-color: #452688;
}
#encabezado{
    font-size: 80px;
    color:white;
    background-color: #f82c34;
    text-aling:
}
#cuerpo{
    background-color: #452688;
}
#cuadro{
    background-color: #f82c34;
}
